@import url("https://mind-ui-library.netlify.app/mind-ui.css");

:root {
  --background-color: #fff;
  --text-color: black;
  --secondary-color: #eee;
}

.grid--row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 2rem 0;
  margin-bottom: 3rem;
  align-items: center;
  justify-content: center;
}
